
    <p>
      Page: 
      {{#each n in pages}}
          <a href="#/posts/page/{{n}}" class="btn btn-default btn-lg active" role="button">{{n}}</a>
      {{/each}}
      of {{pages.length}}
    </p>

    <form {{action 'updatePageSize' on='submit'}}>
      Page size: 
      {{input value=newPageSize type="number"}}
      {{input type="submit" value="Change"}}
    </form>

<div class="article-container">
    <section class="">
      {{#each }}
            <article class="article">
                    <div class="inner">
                        2013-10-18

                        <h3> <center>
                            {{#link-to "posts.post" id}} {{name}} {{/link-to}}
                        </center> </h3>

                        <br>
                        <p> 
                            {{{desc}}}
                             ...  
                            {{#link-to "posts.post" id class="btn btn-lg btn-link"}} MORE {{/link-to}}
                        </p>
                    </div>
            </article>
      {{/each}}
    </section>
</div>
