<h2 class="welcome-message">Post Page</h2>

    <p>
      Page: 
      {{#each n in pages}}
          <a href="#/posts/page/{{n}}" class="btn btn-default btn-lg active" role="button">{{n}}</a>
      {{/each}}
      of {{pages.length}}
    </p>

    <form {{action 'updatePageSize' on='submit'}}>
      Page size: 
      {{input value=newPageSize type="number"}}
      {{input type="submit" value="Change"}}
    </form>

<div class="article-container">
    <section class="">
      {{#each }}
            <article class="article">
                    <div class="inner">
                        2013-10-18
                        <a href="/2013/10/18/Commonly-used-windows-commands.html"> <h3> <center>{{name}}</center> </h3> </a>
                        <br>
                        <p> 
                            {{{value}}}
                             ...  
                            <a href="/2013/10/18/Commonly-used-windows-commands.html">详细内容</a>
                        </p>
                    </div>
            </article>
      {{/each}}
    </section>
</div>
